body {
    font-family: Verdana, Lucida, Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

h1 {
    font-size: 160%;
    font-weight: bold;
    margin: 0 0 1em 0;
    padding: 0.2em;
    border: 1px solid #999;
    background-color: #DEF;
    text-align: center;
}

div.test-case h2 {
    font-size: 120%;
    font-weight: bold;
    margin: 1em 0 1em 0;
    border-bottom: 1px solid #999;
}

div.test-case h2 span.file-name {
    color: #AAA;
}

div.test-case h3 {
    font-size: 100%;
    font-weight: bold;
    margin: 0;
}
