body {
    font-family: Verdana, Lucida, Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

h1 {
    font-size: 160%;
    font-weight: bold;
    margin: 0 0 1em 0;
    padding: 0.2em;
    border: 1px solid #999;
    background-color: #DEF;
    text-align: center;
}

div.test-case h2 {
    font-size: 120%;
    font-weight: bold;
    margin: 1em 0 1em 0;
    border-bottom: 1px solid #999;
}

div.test-case h2 span.file-name {
    color: #AAA;
}

/*
div.dokuwiki div.refnotes {
    clear: both;
    margin: 0 0 1em 0;
}

div.dokuwiki div.refnotes hr {
    text-align: left;
    margin-bottom: 0.2em;
}

div.dokuwiki div.refnotes div.notes {
    padding-left: 1em;
    margin-bottom: 1em;
}

div.dokuwiki div.refnotes div.note {
    font-size: 90%;
}

div.dokuwiki div.refnotes div.note.small {
    font-size: 70%;
}

div.dokuwiki div.refnotes div.note.justify {
    text-align: justify;
}

div.dokuwiki div.refnotes div.note.left {
    text-align: left;
}

div.dokuwiki div.refnotes a.nolink {
}

div.dokuwiki div.refnotes a.backref {
}
*/
