body {
    font-family: Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-size: 80%;
    background-color: #fff;
    color: #000;
}

div {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 160%;
    font-weight: bold;
    margin: 0 0 0.5em 0;
    padding: 0.2em;
    border: 1px solid #999;
    background-color: #DEF;
    text-align: center;
}

div.test-case h2 {
    font-size: 120%;
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #999;
    clear: both;
}

div.test-case h2 span.file-name {
    color: #AAA;
}

div.test-case div {
    margin: 0.5em 0 0.5em 0;
    border: 1px solid #CCC;
}

div.test-case div h3 {
    font-size: 110%;
    font-weight: normal;
    padding: 0.2em;
    margin: 0;
    background-color: #DEF;
}

div.test-case div h3 span.expand {
    font-weight: bold;
    padding: 0 5px 0 5px;
    border: 1px solid #999;
    background-color: #CDE;
    cursor: pointer;
}

div.test-case div div.content {
    border-width: 1px 0 0 0;
    margin: 0;
    padding: 0.5em;
}

div.test-case div.clearer {
    clear: both;
    border: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
}

div.test-case div.cluster-size {
    float: left;
    width: 420px;
}

div.test-case div.codec-count {
    float: left;
    margin-left: 1em;
    width: 420px;
}

div.log pre {
    font-family: "Lucida Console", "Courier New", Courier, monospace;
    font-size: 80%;
    margin: 0;
}
