////////////////////////////////////////////////////////////////////////////////

#include <windows.h>

////////////////////////////////////////////////////////////////////////////////

"IDI_ICON1" ICON "litewiz.ico"

////////////////////////////////////////////////////////////////////////////////

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", "Litewiz Productions"
            VALUE "FileDescription", "Listening test wizard"
            VALUE "FileVersion", "1, 0, 0, 1"
            VALUE "InternalName", "Litewiz"
            VALUE "LegalCopyright", "© 2010 Litewiz Productions"
            VALUE "OriginalFilename", "litewiz.exe"
            VALUE "ProductName", "Litewiz"
            VALUE "ProductVersion", "1, 0, 0, 1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END

////////////////////////////////////////////////////////////////////////////////
